* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}
.button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;   
    border-radius: 5px; 
    cursor: pointer;
}
li:hover {
    transform: scale(1.3);
}
.button:hover {
    transform: scale(1.1);
}

.main {
    background-image: url(./assets/img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.main-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.main-header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.main-header__logo-title {
    margin-left: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #F7F7F7;
}
.main-header-nav__list {
    display: flex;
    list-style: none;
    align-items: center;
}
.main-header-nav__list li:not(:first-child) {
    margin-left: 62px;
}
.main-header-nav__item-a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;   
}
.main-header-nav__item-button {
    border: 2px solid #CD6326;
    background-color: transparent;
    padding: 9.5px 23.5px;
}
.main-survival {
    padding-top: 120px;
    padding-bottom: 239px;
}
.main-survival__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;  
    margin-bottom: 51px;  
}
.main-survival__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #F7F7F7;   
    margin-bottom: 49px; 
    width: 100%;
    max-width: 274px;
}
.main-survival__button {
    background: #CD6326;
    padding: 16px 43px 17px 43px;
    border: none;
}




.section {
    background-color: #CCCCCC;
    display: flex;
    justify-content: center;
    padding-bottom: 239px;
}
.section-news {
    display: flex;
    flex-direction: column;
    padding-top: 121px;
    padding-bottom: 235px;
}
.section-news-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
    color: #333333;    
    margin-bottom: 20px;
    text-align: center;
}
.section-news-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #666666;    
    margin-bottom: 120px;
    text-align: center;
}
.section-news-block {
    display: flex;
    justify-content: space-between;
}
.arrow {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}
.arrow__img {
    width: 30px;
    height: 70px;
}
.section-news-block__item-img {
    width: 300px;
    height: 360px;
}
.section-news-block__item {
    position: relative;
}
.section-news-block__item:hover {
    transform: scale(1.1);
}
.section-news-block__item-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;  
    color: #F7F7F7;  
    position: absolute;
    bottom: 81px;
    left: 0;
    right: 0;
    text-align: center;
}
.section-news-block__item-text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    color: #F7F7F7; 
    position: absolute;  
    bottom: 44px; 
    left: 0;
    right: 0;
    text-align: center;
}
.section-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-form-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 40px;
    color: #333333;
    margin-bottom: 61px;
}
.section-form-block {
    display: flex;
    justify-content: center;
}
.section-form-block__email {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #666666;
    width: 100%;
    max-width: 540px; 
    background-color: transparent;    
    padding-left: 15px;
    border: 1px solid #666666;   
}
.section-form-block__submit {
    background-color: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 0px 5px 5px 0px;
    padding: 16px 34px 17px 34px;
}



.footer {
    background-image: url(./assets/img/background2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 150px 0;
}
.wrapper-footer {
    flex-direction: row;
    justify-content: space-between;
}
.footer-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.footer-logo__title {
    margin-left: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;
    color: #F7F7F7;
} 
.footer-nav {
    display: flex;
    align-items: center;
    margin-left: 10px;
}  
.footer-nav__list {
    display: flex;
}
.footer-nav__item {
    list-style: none;
}
.footer-nav__item-a {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;
    color: #F7F7F7;
}
.footer-nav__list li:not(:first-child) {
    margin-left: 88px;
}
.footer-network__list {
    display: flex;
    list-style: none;
}
.footer-network {
    display: flex;
    align-items: center;
}
.footer-network__list li:not(:first-child) {
    margin-left: 26px;
}
